
<div class="container-fluid">
  <div class="main">
  <div class="row mainrow">

        <div class="col-12 col-md-6 cardM">
            <div class="card card-5">
            <div class="dotimg_container">
                <img src="../assets/Images/horidot.svg" class="dotimg"alt="" />
                <div>
                    <img class="dotimg2" src="../assets/Images/verdot.svg" alt="" />
                   
                </div>

            </div>
            <div class="subcard">
                <p>Become a <b> PoSP</b> and <br />let’s work together !!</p>
      
                <div>
                  <button class="btn btn-primary">Join us now</button>
                </div>
                <div class="plant_container">
                  <!-- <img src="../assets/Images/Plant.svg" alt="" /> -->
                <div>
                  <img src="../assets/Images/horbox.svg" style="    margin-left: -13rem;" alt="" />
                </div>
              </div>
            </div>
          

            </div>
        </div>
         <div  class="col-12 col-md-3">
            <div class="col-12 img_container">
                <img src="../assets/Images/clap.svg" class="clapimg" alt="" />
              </div>
         </div> 
  </div>
  </div>

  <div class="row Crow">
    <div class="col-12 col-md-4 cards">
      <img src="../assets/Images/irdai.svg" alt="">
      <p id="pcard">Certified & Licensed by <br>
        <b>IRDAI (Reg.No.747) </b> <br>
        Indian Insurance Regulator </p>
    </div>
    <div class="col-12 col-md-4 cards">
      <img src="../assets/Images/guard.svg" alt="">
      <p id="pcard">Trusted by<br>
        <b>2.5 Millions Visitors</b> <br>
        for Insurance </p>
    </div>
    <div class="col-12 col-md-4 cards">
      <img src="../assets/Images/google.svg" alt="">
      <p id="pcard">Rated highly<br>
        <b>98% rating</b> <br>
        by Our Customers</p>
    </div>

  </div>

  <div class="last">
    <div class="row">

      <div class="col-12 col-md-6">
        <img style ="width: 100%;" src="../assets/Images/group.svg" alt="">
      </div>
      <div class="col-12 col-md-6 para">
        <div>
          <p id="lastp"><b>Need insurance but not sure which one is right for you?</b></p>
        </div>
        <div>
          Let us help! Reach out to our team, and we'll answer all your questions. Our dedicated experts will give you their undivided attention and guide you every step of the way.
        </div>
        <div class="white">
         <h5>Give us a call at</h5>
         <h5>18001200771 / 7798612223</h5>
        </div>
      </div>

    </div>

  </div>
</div>
