<div class="ourPartnersHeading">Our <span>Partners</span></div>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="activeTab === 'life'"
      (click)="switchTab('life')"
      >Life</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="activeTab === 'nonLife'"
      (click)="switchTab('nonLife')"
      >Non-Life</a
    >
  </li>
</ul>

<div class="tab-pane" *ngIf="containt === 'life'">
  <div class="container-fluid image_container">
    <!-- <div class="row"> -->
    <!-- First row -->
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimg1.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimgchanges2.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimgchanges3.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimgchanges4.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimg5.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>

    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimg6.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimg7.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimg8.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimg9.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/Images/cardimgchanges5.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
  </div>
</div>
<div class="tab-pane" *ngIf="containt === 'nonLife'">
  <div class="container-fluid image_container">
    <!-- For Tab2 -->
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg1.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg2.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/cardimgchanges3.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg4.svg"
          class="card-img-top nonlifimg4"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg5.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>

    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg6.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg7.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg8.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg9.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg10.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg11.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg12.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg13.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg14.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg15.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg16.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg17.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg18.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
    <div class="col-mdttt11">
      <div class="card card_container">
        <img
          src="../assets/tab2cardimg19.svg"
          class="card-img-top"
          alt="Card Image"
        />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid section_container">
 
  <div class="row rowInside">
    <p class="section2-heading">
      What makes Policy Planner a favourite among people?
    </p>
    <div class="col-md-4 col-6">
      <div>
        <h3 class="Containt_section2 DataNumber">{{ first_number }}+</h3>
        <p class="Containt_section2 dataheading">Lorem ipsum dolor sit amet</p>
      </div>
      <div>
        <h3 class="Containt_section2 DataNumber">10000+</h3>
        <p class="Containt_section2 dataheading">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="col-md-4 col-6">
      <div>
        <h3 class="Containt_section2 DataNumber">3535+</h3>
        <p class="Containt_section2 dataheading">Lorem ipsum dolor sit amet</p>
      </div>
      <div>
        <h3 class="Containt_section2 DataNumber">100+</h3>
        <p class="Containt_section2 dataheading">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="row">
        <div class="col-md-12 col-6">
          <h3 class="Containt_section2 DataNumber">100000+</h3>
          <p class="Containt_section2 dataheading">
            Lorem ipsum dolor sit amet
          </p>
        </div>
        <div class="col-md-12 col-6">
          <h3 class="Containt_section2 DataNumber">1000+</h3>
          <p class="Containt_section2 dataheading">
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
